# Gezinomi Data - Exercise 

##### miuul_gezinomi.xlsx veri seti Gezinomi şirketinin yaptığı satışların fiyatlarını ve bu satışlara ait bilgiler içermektedir.

In [25]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

df = pd.read_excel("/Users/nezirer/Desktop/miuul/gezinomi_tanıtım/miuul_gezinomi.xlsx") 
pd.options.display.float_format = '{:.2f}'.format
warnings.filterwarnings("ignore")

In [2]:
df.head(5)

,SaleId,SaleDate,CheckInDate,Price,ConceptName,SaleCityName,CInDay,SaleCheckInDayDiff,Seasons
0,415122,2022-12-03,2022-12-03,79.30,Herşey Dahil,Antalya,Saturday,0,Low
1,415103,2022-12-03,2022-12-03,45.97,Yarım Pansiyon,Antalya,Saturday,0,Low
2,404034,2022-09-12,2022-09-13,77.84,Herşey Dahil,Antalya,Tuesday,1,High
3,415094,2022-12-03,2022-12-10,222.71,Yarım Pansiyon,İzmir,Saturday,7,Low
4,414951,2022-12-01,2022-12-03,140.48,Yarım Pansiyon,İzmir,Saturday,2,Low

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59164 entries, 0 to 59163
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SaleId              59164 non-null  int64
 1   SaleDate            59164 non-null  datetime64[ns]
 2   CheckInDate         59164 non-null  datetime64[ns]
 3   Price               59151 non-null  float64
 4   ConceptName         59164 non-null  object
 5   SaleCityName        59164 non-null  object
 6   CInDay              59164 non-null  object
 7   SaleCheckInDayDiff  59164 non-null  int64
 8   Seasons             59164 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(2), object(4)
memory usage: 4.1+ MB

SaleId : Satış id

SaleDate : Satış Tarihi

CheckInDate : Müşterinin otelegirişitarihi

Price : Satış için ödenen fiyat

ConceptName: Otel konsept bilgisi

SaleCityName: Otelin bulunduğu şehir bilgisi

CInDay:Müşterinin otele giriş günü

SaleCheckInDayDiff: Check in ile giriş tarihi gün farkı

Season:Otele giriş tarihindeki sezon bilgisi

In [4]:
df["SaleCityName"].unique()

array(['Antalya', 'İzmir', 'Diğer', 'Aydın', 'Muğla', 'Girne'],
      dtype=object)

In [5]:
df["SaleCityName"].value_counts()

SaleCityName
Antalya    31649
Muğla      10662
Aydın      10646
Diğer       3245
İzmir       2507
Girne        455
Name: count, dtype: int64

In [6]:
df["ConceptName"].nunique()

3

In [7]:
df["ConceptName"].value_counts()

ConceptName
Herşey Dahil      53186
Yarım Pansiyon     3559
Oda + Kahvaltı     2419
Name: count, dtype: int64

In [8]:
df.groupby("SaleCityName")["Price"].sum()

SaleCityName
Antalya   2041911.10
Aydın      573296.01
Diğer      154572.29
Girne       27065.03
Muğla      665842.21
İzmir      165934.83
Name: Price, dtype: float64

In [9]:
df.groupby("ConceptName")["Price"].mean()

ConceptName
Herşey Dahil     62.67
Oda + Kahvaltı   50.25
Yarım Pansiyon   49.03
Name: Price, dtype: float64

In [10]:
df.groupby("SaleCityName")["Price"].mean()

SaleCityName
Antalya   64.52
Aydın     53.86
Diğer     47.71
Girne     59.48
Muğla     62.46
İzmir     66.27
Name: Price, dtype: float64

In [11]:
df.groupby(["SaleCityName","ConceptName"])["Price"].mean()

SaleCityName  ConceptName
Antalya       Herşey Dahil     64.52
              Oda + Kahvaltı   63.50
              Yarım Pansiyon   67.19
Aydın         Herşey Dahil     54.00
              Oda + Kahvaltı   34.46
              Yarım Pansiyon   30.02
Diğer         Herşey Dahil     84.77
              Oda + Kahvaltı   37.60
              Yarım Pansiyon   42.11
Girne         Herşey Dahil     97.68
              Oda + Kahvaltı   39.78
              Yarım Pansiyon   53.25
Muğla         Herşey Dahil     63.02
              Oda + Kahvaltı   59.04
              Yarım Pansiyon   45.12
İzmir         Herşey Dahil     74.70
              Oda + Kahvaltı   41.32
              Yarım Pansiyon   59.61
Name: Price, dtype: float64

In [12]:
def categorize_booking_days(days):
    if days <= 7:
        return "Last Minuters"
    elif 7 < days <= 30:
        return "Potential Planners"
    elif 30 < days <= 90:
        return "Planners"
    else:
        return "Early Bookers"

df['EB_Score'] = df['SaleCheckInDayDiff'].apply(categorize_booking_days)

In [13]:
kirilim1 = df.groupby(["SaleCityName","ConceptName","EB_Score"])["Price"].agg(["mean","count"])

In [14]:
agg_df = df.groupby(["SaleCityName", "ConceptName", "Seasons"])["Price"].mean().sort_values(ascending=False)

In [15]:
agg_df

SaleCityName  ConceptName     Seasons
Girne         Herşey Dahil    High      103.94
                              Low        90.94
İzmir         Yarım Pansiyon  High       87.66
Diğer         Herşey Dahil    Low        87.31
                              High       83.79
İzmir         Herşey Dahil    High       74.75
                              Low        74.31
Antalya       Yarım Pansiyon  High       73.26
              Oda + Kahvaltı  High       66.27
              Herşey Dahil    High       64.92
Muğla         Herşey Dahil    High       63.38
Antalya       Yarım Pansiyon  Low        62.00
              Herşey Dahil    Low        61.55
Muğla         Oda + Kahvaltı  High       61.26
Antalya       Oda + Kahvaltı  Low        60.67
Girne         Yarım Pansiyon  High       58.38
İzmir         Yarım Pansiyon  Low        55.35
Aydın         Herşey Dahil    High       54.95
İzmir         Oda + Kahvaltı  High       54.14
Girne         Yarım Pansiyon  Low        48.58
Muğla         Herşey Dahil    Low        48.30
              Yarım Pansiyon  High       45.82
Aydın         Oda + Kahvaltı  Low        44.45
Diğer         Yarım Pansiyon  Low        42.95
Girne         Oda + Kahvaltı  Low        40.04
Diğer         Oda + Kahvaltı  Low        39.96
              Yarım Pansiyon  High       39.73
Girne         Oda + Kahvaltı  High       39.48
Muğla         Oda + Kahvaltı  Low        37.77
Diğer         Oda + Kahvaltı  High       34.84
Aydın         Herşey Dahil    Low        33.68
İzmir         Oda + Kahvaltı  Low        33.56
Muğla         Yarım Pansiyon  Low        32.68
Aydın         Yarım Pansiyon  High       32.63
              Oda + Kahvaltı  High       30.39
              Yarım Pansiyon  Low        25.27
Name: Price, dtype: float64

In [16]:
agg_df = pd.DataFrame(agg_df)
agg_df

                                     Price
SaleCityName ConceptName    Seasons
Girne        Herşey Dahil   High    103.94
                            Low      90.94
İzmir        Yarım Pansiyon High     87.66
Diğer        Herşey Dahil   Low      87.31
                            High     83.79
İzmir        Herşey Dahil   High     74.75
                            Low      74.31
Antalya      Yarım Pansiyon High     73.26
             Oda + Kahvaltı High     66.27
             Herşey Dahil   High     64.92
Muğla        Herşey Dahil   High     63.38
Antalya      Yarım Pansiyon Low      62.00
             Herşey Dahil   Low      61.55
Muğla        Oda + Kahvaltı High     61.26
Antalya      Oda + Kahvaltı Low      60.67
Girne        Yarım Pansiyon High     58.38
İzmir        Yarım Pansiyon Low      55.35
Aydın        Herşey Dahil   High     54.95
İzmir        Oda + Kahvaltı High     54.14
Girne        Yarım Pansiyon Low      48.58
Muğla        Herşey Dahil   Low      48.30
             Yarım Pansiyon High     45.82
Aydın        Oda + Kahvaltı Low      44.45
Diğer        Yarım Pansiyon Low      42.95
Girne        Oda + Kahvaltı Low      40.04
Diğer        Oda + Kahvaltı Low      39.96
             Yarım Pansiyon High     39.73
Girne        Oda + Kahvaltı High     39.48
Muğla        Oda + Kahvaltı Low      37.77
Diğer        Oda + Kahvaltı High     34.84
Aydın        Herşey Dahil   Low      33.68
İzmir        Oda + Kahvaltı Low      33.56
Muğla        Yarım Pansiyon Low      32.68
Aydın        Yarım Pansiyon High     32.63
             Oda + Kahvaltı High     30.39
             Yarım Pansiyon Low      25.27

In [17]:
agg_df.reset_index(inplace = True)

In [18]:
agg_df["sales_level_based"] = agg_df["SaleCityName"].str.upper() + "_" + agg_df["ConceptName"].str.upper()  + "_" + agg_df["Seasons"].str.upper()

In [19]:
agg_df.head()
del agg_df["SaleCityName"]
del agg_df["ConceptName"]
del agg_df["Seasons"]

In [20]:
agg_df["Segment"] = pd.qcut(agg_df["Price"], 4, labels=["D", "C", "B", "A"])

In [21]:
agg_df.sample(3)

    Price            sales_level_based Segment
15  58.38    GIRNE_YARIM PANSIYON_HIGH       B
7   73.26  ANTALYA_YARIM PANSIYON_HIGH       A
14  60.67   ANTALYA_ODA + KAHVALTI_LOW       B

In [22]:
agg_df.groupby("Segment")["Price"].agg(["mean", "max", "sum"])

         mean    max    sum
Segment
D       33.37  39.48 300.30
C       44.89  54.14 403.99
B       60.27  64.92 542.47
A       82.47 103.94 742.21

In [23]:
agg_df.sort_values(by= "Price", ascending = False)
agg_df = agg_df[["sales_level_based", "Segment", "Price"]]
agg_df

              sales_level_based Segment  Price
0       GIRNE_HERŞEY DAHIL_HIGH       A 103.94
1        GIRNE_HERŞEY DAHIL_LOW       A  90.94
2     İZMIR_YARIM PANSIYON_HIGH       A  87.66
3        DIĞER_HERŞEY DAHIL_LOW       A  87.31
4       DIĞER_HERŞEY DAHIL_HIGH       A  83.79
5       İZMIR_HERŞEY DAHIL_HIGH       A  74.75
6        İZMIR_HERŞEY DAHIL_LOW       A  74.31
7   ANTALYA_YARIM PANSIYON_HIGH       A  73.26
8   ANTALYA_ODA + KAHVALTI_HIGH       A  66.27
9     ANTALYA_HERŞEY DAHIL_HIGH       B  64.92
10      MUĞLA_HERŞEY DAHIL_HIGH       B  63.38
11   ANTALYA_YARIM PANSIYON_LOW       B  62.00
12     ANTALYA_HERŞEY DAHIL_LOW       B  61.55
13    MUĞLA_ODA + KAHVALTI_HIGH       B  61.26
14   ANTALYA_ODA + KAHVALTI_LOW       B  60.67
15    GIRNE_YARIM PANSIYON_HIGH       B  58.38
16     İZMIR_YARIM PANSIYON_LOW       B  55.35
17      AYDIN_HERŞEY DAHIL_HIGH       B  54.95
18    İZMIR_ODA + KAHVALTI_HIGH       C  54.14
19     GIRNE_YARIM PANSIYON_LOW       C  48.58
20       MUĞLA_HERŞEY DAHIL_LOW       C  48.30
21    MUĞLA_YARIM PANSIYON_HIGH       C  45.82
22     AYDIN_ODA + KAHVALTI_LOW       C  44.45
23     DIĞER_YARIM PANSIYON_LOW       C  42.95
24     GIRNE_ODA + KAHVALTI_LOW       C  40.04
25     DIĞER_ODA + KAHVALTI_LOW       C  39.96
26    DIĞER_YARIM PANSIYON_HIGH       C  39.73
27    GIRNE_ODA + KAHVALTI_HIGH       D  39.48
28     MUĞLA_ODA + KAHVALTI_LOW       D  37.77
29    DIĞER_ODA + KAHVALTI_HIGH       D  34.84
30       AYDIN_HERŞEY DAHIL_LOW       D  33.68
31     İZMIR_ODA + KAHVALTI_LOW       D  33.56
32     MUĞLA_YARIM PANSIYON_LOW       D  32.68
33    AYDIN_YARIM PANSIYON_HIGH       D  32.63
34    AYDIN_ODA + KAHVALTI_HIGH       D  30.39
35     AYDIN_YARIM PANSIYON_LOW       D  25.27

In [24]:
new_user = "GIRNE_YARIM PANSIYON_LOW"
agg_df[agg_df["sales_level_based"] == new_user]

           sales_level_based Segment  Price
19  GIRNE_YARIM PANSIYON_LOW       C  48.58